header {
  height: 100px;
  background-color: #21222b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 5px solid #191a21;
}

ul {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.nav {
  text-decoration: none;
  padding: 38px 10px;
}

.nav:hover {
  text-decoration: underline;
  background-color: #313340;
  z-index: 9;
}